In [1]:
 import pandas as pd

In [2]:
url = "http://dlsun.github.io/pods/data/covid/"
df_PT = pd.read_csv(url + "portugal_2020-05-28.csv")
df_CO = pd.read_csv(url + "colombia_2020-05-28.csv")

In [5]:
df_PT.head()

     age     sex  fatality
0  60-69  Female         0
1  60-69    Male         0
2    80+    Male         0
3  60-69  Female         0
4  50-59  Female         0

In [4]:
df_CO.head()

,Departamento,Edad,Sexo,Tipo,Ubicación,Estado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha recuperado
0,Bogotá D.C.,19,F,Importado,Recuperado,Leve,2020-02-27,- -,2020-03-06,2020-03-13
1,Valle del Cauca,34,M,Importado,Recuperado,Leve,2020-03-04,- -,2020-03-09,2020-03-19
2,Antioquia,50,F,Importado,Recuperado,Leve,2020-02-29,- -,2020-03-09,2020-03-15
3,Antioquia,55,M,Relacionado,Recuperado,Leve,2020-03-06,- -,2020-03-11,2020-03-26
4,Antioquia,25,M,Relacionado,Recuperado,Leve,2020-03-08,- -,2020-03-11,2020-03-23

In [12]:
df_CO['Estado'].value_counts()

Estado
Leve                                                                                                                                                                                                        19655
Asintomático                                                                                                                                                                                                 3032
Moderado                                                                                                                                                                                                     1310
Fallecido                                                                                                                                                                                                     822
Grave                                                                                                                                                                                                         232
Leve                                                                                                                                                                                                          180
leve                                                                                                                                                                                                           67
Leve                                                                                                                                                                                                           15
LEVE                                                                                                                                                                                                           13
Moderado                                                                                                                                                                                                        2
Name: count, dtype: int64

In [11]:
df_CO["Estado"].map({
    "Fallecido": 1
})

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
25361   NaN
25362   NaN
25363   NaN
25364   NaN
25365   NaN
Name: Estado, Length: 25366, dtype: float64

In [13]:
df_CO['Estado'].value_counts()

Estado
Leve                                                                                                                                                                                                        19655
Asintomático                                                                                                                                                                                                 3032
Moderado                                                                                                                                                                                                     1310
Fallecido                                                                                                                                                                                                     822
Grave                                                                                                                                                                                                         232
Leve                                                                                                                                                                                                          180
leve                                                                                                                                                                                                           67
Leve                                                                                                                                                                                                           15
LEVE                                                                                                                                                                                                           13
Moderado                                                                                                                                                                                                        2
Name: count, dtype: int64

In [14]:
df_CO["fatality"] = df_CO["Estado"].map({
    "Fallecido": 1
}).fillna(0)

In [16]:
df_CO.head()

,Departamento,Edad,Sexo,Tipo,Ubicación,Estado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha recuperado,fatality
0,Bogotá D.C.,19,F,Importado,Recuperado,Leve,2020-02-27,- -,2020-03-06,2020-03-13,0.0
1,Valle del Cauca,34,M,Importado,Recuperado,Leve,2020-03-04,- -,2020-03-09,2020-03-19,0.0
2,Antioquia,50,F,Importado,Recuperado,Leve,2020-02-29,- -,2020-03-09,2020-03-15,0.0
3,Antioquia,55,M,Relacionado,Recuperado,Leve,2020-03-06,- -,2020-03-11,2020-03-26,0.0
4,Antioquia,25,M,Relacionado,Recuperado,Leve,2020-03-08,- -,2020-03-11,2020-03-23,0.0